.container__nav {
    width: 100vw;
    font-family: 'Epilogue', sans-serif;
    position: fixed;
    color: hsl(0, 0%, 41%);
    font-size: 14px;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    padding: 20px;
    position: fixed;
    z-index: 25;
    background-color:hsl(0, 0%, 98%);
}

.nav__menu {
    z-index: 50;
    position: fixed;
    display: flex;
    left: 100%;
    transition: all 150ms ease;
}

.nav__menu--toggle {
    left: 0%;
}

.black {
    width: 40vw;
    height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.4),rgba(5, 7, 12, 0.4));
    backdrop-filter: blur(0px);
}

.nav__menu_list {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    padding: 1.5rem 1.1rem;
    gap: 0.8rem;
    background-color: hsl(0, 0%, 98%);
}

.nav__menu_list--element--btn {
    align-self: flex-end;
}

.nav__menu_list--element-register,
.nav__menu_list--element-login {
    align-self: center;
}

.nav__menu_list--element-login {
    margin-top: 1.2rem;
}

.nav__menu_list--element--features a img,
.nav__menu_list--element--company a img {
    padding-left: 0.5rem;
    min-height: 5%;
    min-width: 5%;
    display: inline;
}

.nav__menu_list--element,
.nav__menu_list--element__list--element {
    list-style: none;
    cursor: pointer;
}
.nav__menu_list--element a:hover,
.nav__menu_list--element__list--element a:hover {
    color: hsl(0, 0%, 8%);
} 


.nav__menu_list--element__list--element {
    margin: 1.2rem 0rem 0rem 1.6rem;/*Si quiere arregla gap para que quede mas estetico*/
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.nav__menu_list--element__list--element img {
    width: 12%;
}

.nav__menu_list--element__list--features {
    display: none;
    animation: showFeatures 0.3s ease;
}

.nav__menu_list--element__list--company {
    display: none;
    animation: showCompany 0.3s ease;
}

.nav__menu_list--element a {
    width: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    display: flex;
    align-items: center;
}

@keyframes showFeatures {
    0% {
        transform: translate3d(100%,0,0);
    }

    80% {
        transform: translate3d(-8%,0,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}


@keyframes showCompany{
    0% {
        transform: translate3d(100%,0,0);
    }

    80% {
        transform: translate3d(-8%,0,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}

.menu-btn,
.nav__menu_list--element--btn {
    cursor: pointer;
}

.nav__menu_list--element-register{
    padding: 0.6rem 4rem;
    border-radius: 0.8rem;
    border: solid 2px hsl(0, 0%, 41%);
}
.nav__menu_list--element-register:hover {
    border: solid 2px hsl(0, 0%, 8%);
}

@media screen and (min-width:750px) {
    .nav__menu_list--element--btn,
    .menu-btn,
    .black {
        display: none;
    }

    .nav__menu,
    .nav__logo {
        position: static;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    .nav__logo {
        display: block;
        justify-content: space-between;
        height: 4rem;
        flex-basis: 7.15rem;
        padding: 20px;
        z-index: 75;
        background-color:hsl(0, 0%, 98%);
    }

    .nav__menu {
        display: flex;
        flex-grow: 1;
    }

    .nav__menu_list--element--features a img,
    .nav__menu_list--element--company a img {
        padding-left: 0.5rem;
        height: 40%;
        width: 15%;
        display: inline;
    }

    .nav__menu_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        width: 100%;
    }

    .nav__menu_list--element-login {
        margin: auto;
        margin-right: 0rem;
    }
    
    .nav__menu_list--element-register {
        margin-right: 0.625rem;
    }

    .nav__menu_list--element__list--features,
    .nav__menu_list--element__list--company {
        animation: none;
        background-color: hsl(0, 0%, 98%);
        width: 100%;
        padding: 1rem;
        border-radius: 0rem 0rem 0.4rem 0.4rem;
        box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
    }

    .nav__menu_list--element--features,
    .nav__menu_list--element--company {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 115px;
    }

    .nav__menu_list--element__list--element {
        margin: 1.2rem 0rem 0rem 0rem;/*Si quiere arregla gap para que quede mas estetico*/
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }

    .nav__menu_list--element--careers {
        width: 115px;
    }
    
    .nav__menu_list--element-register{
        padding: 0.6rem 1rem;
        border-radius: 0.8rem;
        border: solid 2px hsl(0, 0%, 41%);
    }
}
