.secction__container {
    padding-top: 4rem;
    font-family: 'Epilogue', sans-serif;
}

.seccion {
    display: flex;
    justify-content: center;
    margin-top:2rem;
    margin-bottom: 5rem;
    flex-wrap: wrap-reverse;
}

.seccion__about {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 28rem;
}

.seccion__about__imgs {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.seccion__about__imgs img {
    width: 4.2rem;
    height: 1.5rem;
    object-fit: contain;
}
.seccion__about__span {
    font-weight: bolder;
    font-size: 3.5rem;
    margin-top: 2rem;
}

.seccion__about__p {
    font: 18px;
    color: hsl(0, 0%, 41%);
    width: 75%;
}

.seccion__about__button {
    padding: 0.5rem 1em;
    border: solid 2px hsl(0, 0%, 8%);
    border-radius: 0.8rem;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 14;
    width: 8rem;
    cursor: pointer;
    margin-bottom: 3.5rem;
}
.seccion__about__button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.seccion__img {
    height: 25rem;
}
.seccion__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.seccion__img__mobile {
    display: none;
}

@media screen and (max-width:750px) {
    .seccion__img__desktop {
        display: none;
    }

    .seccion__img__mobile {
        display: block;
    }

    .seccion__img {
        max-height: 20rem;
    }
    
    .seccion__about {
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 28rem;
        text-align: center;
    }
}